<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueny.demo.sharding.example.dao.mapper.IShardingOrderMapper">

    <select id="selectAll" resultType="ShardingOrderEntry">
        select * from SHARDING_ORDER_1 order by id;
    </select>
    
</mapper>
